easy-file-process
modelscope
accelerate
omegaconf
gradio
transformers
diffusers
Cython
librosa
matplotlib
numpy
scipy
unidecode
jamo
pypinyin
jieba
protobuf
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration
num_thai
opencc
torch